.hero {
    position: relative;
    width: 100%;
    height: 35vh;
    background: linear-gradient(to top, #0d1117 0%,transparent 100%), url(../img/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
}
.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text > * {
    cursor: default;
    font-size: 1.5rem;
}

.content {
    padding-bottom: 50px;
    width: 100%;
    height: fit-content;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 65%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.item {
    border: #333333 1px solid;
    display: block;
    position: relative;
    border-radius: 10px;
    width: auto;
    height: fit-content;
    overflow: hidden;
    color: white;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    transform: translateY(-3px);
}

.hotel-content {
    padding: 10px
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.description {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #bbbbbb;
}

.buy {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    border-top: #888888 0.5px solid;
    padding: 10px;
}

.booking button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.booking button:hover {
    background-color: #ffe760;
}

.reveiw {
    font-size: 0.8rem;
    color: #bbbbbb;
}

.location {
    font-size: 0.8rem;
    color: #bbbbbb;
}

.price {
    font-size: 0.6rem;
}

.price span {
    font-size: 1.2rem;
}

