main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    cursor: pointer;
}

.active {
    display: block;
}

.unactive {
    display: none;
}

.container {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    background: blur(10px);
    width: 20%;
    padding: 20px;
    border-radius: 6.7px;
}

.container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 15px 0;
}

form {
    width: 100%;
}

.input {
    width: 60%;
}

input {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 0 5px 7px;
    outline: none;
}

input:focus {
    box-shadow: #eee 0 0 5px;
    outline: none;
}
.input label {
    margin-bottom: 10px;
}

.input > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}

.btn {
    width: 30%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 4px 6px 4px;
    transition: all 0.3s ease-in-out;
}

.btn button:hover {
    background-color: white;
    color: black;
    transform: translateY(-5px);
    border: 1px solid black;
}

.footer span {
    font-weight: 600;
    font-size: 1.2rem;
}