@font-face {
    font-family: 'Prompt';
    src: url(../font/Prompt-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(10px);
    height: fit-content;
}

.navbar {
    padding-bottom: 10px;
    color: white;
    padding-top: 10px;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .left > * {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.menu > * {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.logo {
    cursor: pointer;
}

.logo > h2 > span {
    color: #FFD700;
}

.menu > * a {
    text-decoration: none;
    color: white;
}

.right .logout button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.right .logout button:hover {
    color: #FFD700;
}

.ts {
    color: #FFD700 !important;
}

.menu > * a:hover {
    color: #FFD700;
}

footer {
    background-color: #0d1117ee !important;
    color: #bbbbbb;
    text-align: center;
    padding: 10px;
}
